@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Protest Riot", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
    
   
}
.caluclator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background:transparent;
    box-shadow: 0px 3px 15px rgba(113,115,199,0.5);
    width: 300px;
    height: 450px;
}
input{
    width: 400px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: azure;
    -webkit-animation-fill-mode: both;
    -webkit-background-clip: text;
    background-image: linear-gradient(75deg,aqua,blue,red,yellow,green,aqua);

    animation: displayAnimation 200s both;
    -webkit-text-fill-color: transparent;
    animation-iteration-count: infinite;
}
@keyframes displayAnimation
{
    from
    {
        background-position: 18000px;
    }
    to
    {
        background-position: 0px;

    }  
} 
.equal{
    background-color: orange;

}
input::placeholder{
    color: #ffff;
}
button{
    cursor: pointer;
    /* cursor:url('14.png'),auto; */
    border: none;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
}
.operator
{
    color:rgb(55, 201, 26);
}